.cityItem {
  position: relative;

  margin: 0;
  margin-bottom: 5px;
  padding: 0 0 17px 0;

  border-bottom: 1px solid #D5DDE0;

  &::before {
    content: url(../../public/Images/placeIcon.svg);

    position: absolute;
    top: 3px;
    left: -42px;

    width: 30px;
    height: 30px;
  }

  h4 {
    margin: 0;
    margin-bottom: 2px;

    font-size: 15px;
    line-height: 136%;
    color: #3E4958;
  }

  p {
    margin: 0;

    font-size: 13px;
    line-height: 140%;
    color: #97ADB6;
  }
}